In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.tabular import *

In [5]:
# path = Config().data_path()/'rossman'
path = Path('data/rossmann')
train_df = pd.read_pickle(path/'train_clean')

In [6]:
train_df.head().T

,0,1,2,3,4
index,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,1,1,1,1,1
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,1,13,14,1,1
...,...,...,...,...,...
Mean_Sea_Level_PressurehPa,1018,1019,1019,1017,1018
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen
CompetitionOpenSince,2008-09-15 00:00:00,2007-11-15 00:00:00,2006-12-15 00:00:00,2009-09-15 00:00:00,2015-04-15 00:00:00
CompetitionDaysOpen,2510,2815,3150,2145,107
CompetitionMonthsOpen,24,24,24,24,3
Promo2Since,1900-01-01 00:00:00,2010-03-29 00:00:00,2011-04-04 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00
Promo2Days,42214,1950,1579,42214,42214
AfterSchoolHoliday,0,0,0,0,0
BeforeSchoolHoliday,0,0,0,0,0
AfterStateHoliday,57,67,57,67,57
BeforeStateHoliday,0,0,0,0,0
AfterPromo,0,0,0,0,0
BeforePromo,0,0,0,0,0
SchoolHoliday_bw,5,5,5,5,5
StateHoliday_bw,0,0,0,0,0
Promo_bw,5,5,5,5,5
SchoolHoliday_fw,7,1,5,1,1
StateHoliday_fw,0,0,0,0,0
Promo_fw,5,1,5,1,1

In [7]:
n = len(train_df); n

844338

In [9]:
idx = np.random.permutation(range(n))[:2000]
idx.sort()
small_train_df = train_df.iloc[idx[:1000]]
small_test_df = train_df.iloc[idx[1000:]]
small_cont_vars = ['CompetitionDistance', 'Mean_Humidity']
small_cat_vars = ['Store', 'DayOfWeek', 'PromoInterval']
small_train_df = small_train_df[small_cat_vars + small_cont_vars + ['Sales']]
small_test_df = small_test_df[small_cat_vars + small_cont_vars + ['Sales']]

In [10]:
small_train_df.head()

,Store,DayOfWeek,PromoInterval,CompetitionDistance,Mean_Humidity,Sales
466,468,5,NaN,5260.0,61,8281
616,618,5,NaN,9910.0,54,9397
839,841,5,NaN,27650.0,55,3768
2097,987,4,NaN,1690.0,55,7226
2359,134,3,NaN,1200.0,54,4025

In [11]:
small_test_df.head()

,Store,DayOfWeek,PromoInterval,CompetitionDistance,Mean_Humidity,Sales
419613,1045,4,NaN,26990.0,83,7725
421190,394,2,NaN,10850.0,53,9348
421338,542,2,"Jan,Apr,Jul,Oct",7280.0,72,7520
423591,539,6,"Jan,Apr,Jul,Oct",770.0,70,11956
423680,628,6,NaN,2180.0,72,4104

In [13]:
categorify = Categorify(small_cat_vars, small_cont_vars)
categorify(small_train_df)
categorify(small_test_df, test=True)

In [14]:
small_test_df.head()

,Store,DayOfWeek,PromoInterval,CompetitionDistance,Mean_Humidity,Sales
419613,1045.0,4,NaN,26990.0,83,7725
421190,394.0,2,NaN,10850.0,53,9348
421338,542.0,2,"Jan,Apr,Jul,Oct",7280.0,72,7520
423591,NaN,6,"Jan,Apr,Jul,Oct",770.0,70,11956
423680,NaN,6,NaN,2180.0,72,4104

In [15]:
small_train_df.PromoInterval.cat.categories

Index(['Feb,May,Aug,Nov', 'Jan,Apr,Jul,Oct', 'Mar,Jun,Sept,Dec'], dtype='object')

In [18]:
small_train_df['PromoInterval'].cat.codes[:10]

466    -1
616    -1
839    -1
2097   -1
2359   -1
3234    0
3895   -1
4263   -1
4961   -1
5030   -1
dtype: int8